/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-02-24, 16:57:15
    Author     : RENT
*/

div {
    
    border: 1px solid background;
    font-size: 18pt;
    cursor: pointer;
    
}