.kontener {
  
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

.teksty {
    
    width: 150px;
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    
    
}

.kontener > div {
    margin-bottom: 10px;
    
}
