body { text-align: center;
}

#page { display: inline-block;
        width: 1000px;
        margin: 0 auto;
        padding: 20px;
        vertical-align: top;
        border: 1px solid #000;
}

.content { display: block;
           position: relative;
           clear: both;
           min-height: 240px;
           margin-bottom: 50px;
           background: yellow;
}

#header {}

        #header .switch { position: absolute;
                          top: 20px;
                          width: 200px;
                          height: 200px;
                          background: orange;
                          z-index: 100;
        }
        
        #header .left { right: 700px;
        }
        
        #header .right { left: 700px;
        }
        
        #header a { font-weight: 700;
        }
        
        #header a:hover { text-decoration: underline;
                          cursor: pointer;
        }
        
        
form { position: relative;
       padding: 30px;
       border: 2px solid #CCC;
       background: #FFF;
}

        form .row { display: block;
                    clear: both;
                    margin-bottom: 15px;
        }
        
                form .row label,
                form .row input { display: inline-block;
                                  vertical-align: top;
                }
                
                form .row label { width: 100px;
                                  margin-right: 10px;
                                  font-weight: 700;
                                  text-align: right;
                                  line-height: 27px;
                                  cursor: pointer;
                }
                
                form .row input.text { width: 228px;
                                       height: 25px;
                                       margin-left: 20px;
                                       padding: 0px 10px;
                                       border: 1px solid #CCC;
                }
                
                form .row input.text.error { color: #FF0000;
                                             border: 1px solid #FF0000;
                }
                
                form .row input.text.valid { color: #38F321;
                                             border: 1px solid #38F321;
                }
                
                form .row input.button { width: 100px;
                                         height: 30px;
                                         font-weight: 700;
                                         color: #FFF;
                                         text-align: center;
                                         text-transform: uppercase;
                                         background: #2196F3;
                                         border: none;
                                         border-radius: 7px;
                                         transition: background 250ms ease-in;
                                         cursor: pointer;
                }
                
                form .row input.button:hover { background: #FF5722;
                                               transition: background 250ms ease-in;
                }
                
                
                
/*input.text { border-color: #FF5722;
}

input#name { border-color: #FF0000;
}

input[type="text"] {
    
}

label[for="name"] {
    color: #FF0000;
}*/