
body {
    text-align: center;
}
#page {
    border: 1px solid #000;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    vertical-align: top;
    width: 1000px;
    min-height: 2000px;
}

#facebookBox {
    position: fixed;
    top: 100px;
    left: -210px;
    width: 260px;
    z-index: 100;
    
}

    #facebookBox .label {
        float: right;
        width: 50px;
        height: 50px;
        background: blue;
    }

    #facebookBox .content {
        float: left;
        width: 200px;
        height: 400px;
        background: #FFF;
        border: 5px solid blue;
        
    }    

#parent {
    background: orange;
    float: left;
    padding: 50px;
    width: 900px;
    height: 200px;
    position: relative;
    
}

#parent a {
   cursor: pointer;
    
}



#parent .child {
    position: absolute;
    top: 50px;
    height: 200px;
    width: 200px;
    
    
}
#parent .child1 {
    right: 700px;
    background: green;
    
}
#parent .child2 {
    left: 700px;
    background: blue;
}
/*.content {
    background: yellow none repeat scroll 0 0;
    clear: both;
    display: block;
    margin-bottom: 50px;
    min-height: 240px;
    position: relative;
}*/
#header {
}
#header .switch {
    background: orange none repeat scroll 0 0;
    height: 200px;
    position: absolute;
    top: 20px;
    width: 200px;
    z-index: 100;
}
#header .left {
    right: 700px;
}
#header .right {
    left: 700px;
}
#header a {
    font-weight: 700;
}
#header a:hover {
    cursor: pointer;
    text-decoration: underline;
}
form {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ccc;
    padding: 30px;
    position: relative;
}
form .row {
    clear: both;
    display: block;
    margin-bottom: 15px;
}
form .row label, form .row input {
    display: inline-block;
    vertical-align: top;
}
form .row label {
    cursor: pointer;
    font-weight: 700;
    line-height: 27px;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}
form .row input.text {
    border: 1px solid #ccc;
    height: 25px;
    margin-left: 20px;
    padding: 0 10px;
    width: 228px;
}
form .row input.text.error {
    border: 1px solid #ff0000;
    color: #ff0000;
}
form .row input.text.valid {
    border: 1px solid #38f321;
    color: #38f321;
}
form .row input.button {
    background: #2196f3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: background 250ms ease-in 0s;
    width: 100px;
}
form .row input.button:hover {
    background: #ff5722 none repeat scroll 0 0;
    transition: background 250ms ease-in 0s;
}
