/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-02-25, 17:06:03
    Author     : RENT
*/

#kontener {
   width: 600px;
   margin: 0 auto;
   border: 1px solid black;
}

#pytanie {
    text-align: center;
    height: 300px;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
}

#przegryw, #wygryw {
    z-index: 9999;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 72pt;
    text-align: center;
    display: none;
}
#wygryw {
   background-color: green;
}


#popOdp {
    height: 100px;
    width: 200px;
    border: 1px solid green;
    background-color: green;
    color: white;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 100px);
    margin: 0 auto;
    display: none;
    text-align: center;
    font-size: 24pt;
    padding-top: 50px;
}

#polNaPol, #publ, #tel {
    height: 20px;
    width: 100px;
    border: 2px solid black;
    color: black;
    position: absolute;
    top: 33%;
    left: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16pt;
    line-height: 16pt;
    cursor: pointer;
    background-color: green;
}

#publ {
    left: 45%;
}

#tel {
    left: 30%;    
}

/*#odpA::after {
    content: "";
    float: right;
    display: none;
}*/

.dwadziescia::after {
   content: ' 20%';
   float: right;  
}

.czterdziesci::after {
   content: ' 40%';
   float: right;  
}