/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-03-17, 17:37:52
    Author     : RENT
*/

.active {
    background-color: red;
}

p {
  background-color: black;
  color: white;
}